/emacs.d/auto-save-list/
/emacs.d/elpa/
/emacs.d/eshell/
/emacs.d/transient/
/vim/bundle/
/emacs.d/projects
/emacs.d/.cache/
/emacs.d/.lsp-session-v1
/emacs.d/server/
/emacs.d/url/
/emacs.d/custom.el
/emacs.d/mssql/
